---
---

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Megrim&display=swap');

body{
    font-family: Lato, sans-serif;
    font-size: 13pt;
}

h1{
    font-family: Megrim, Futura, sans-serif;
    font-size: 30pt;
}

blockquote{
    background-color: aliceblue;
    padding: 10pt 15pt 1pt;
    margin: 10pt 0pt;
}

figure{
    display: inline-block;
    width:160px;
    margin-block-start: 0em;
    margin-inline-end: auto;
    margin-inline-start: auto;
}